
.midasi{
    color:rgb(109, 45, 239);
}

table{
    border-collapse:collapse;
    width:100%;
    margin-top:20px;
}
th,td{
    border:2px solid black;
    padding:10px;
    text-align:center;
}
th{
    background:#eee
}

drop-table{
    border-collapse:collapse;
    width:100%;
}
td{
    border:1px solid black;
    padding:8px;
    text-align:left;
    white-space: nowrap;
    min-width:100px;
}
drop-table label{
    display:inline-black;
    cursor:pointer;
}
.name{
    position:relative;
    padding-left:18px;
}
.name.heika::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#b22222,#eee);
}
.name.ydkn::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#7da852,#eee);
}
.name.rksn::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#ffc02d,#eee);
}
.name.ko-kun::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#fd1493,#eee);
}
.name.maoti::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#a553eb,#eee);
}
.name.akhs::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#fe8a23,#eee);
}
.name.yrg::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#6495ed,#eee);
}
.name.otk::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#8bccd6,#eee);
}
.name.hrh::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#e9dc69,#eee);
}
.name.se-san::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#9a98c1,#eee);
}
.name.osz::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#3f60be,#eee);
}
.name.mknee::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#c437bc,#eee);
}
.name.sygkn::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#e04d21,#eee);
}
.name.snb::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#388138,#eee);
}
.name.khsn::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#df507f,#eee);
}
.name.kyo-yakn::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#f09c65,#eee);
}
.name.riksn::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#7043bb,#eee);
}
.name.tms::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#61c892,#eee);
}
.name.nnyu::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#13bffc,#eee);
}
.name.kmy::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#5e76bc,#eee);
}
.name.ur-r::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:10px;
    height:100%;
    background:linear-gradient(to bottom,#de7df3,#eee);
}
#search-song {
    padding: 8px 12px;
    width: 250px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

